# LiveKit
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

# LM API
LM_API_BASE_URL=https://lm.portalos.ru
LM_API_KEY=

# Chat
CHAT_API_BEARER_KEY=

# Commands
COMMANDS_API_ENDPOINT=

# Database
DATABASE_URL=

# Sandbox
SANDBOX_ID=
NEXT_PUBLIC_CONN_DETAILS_ENDPOINT=

# App
COMPANY=
TITLE=
DESCRIPTION=
BUTTON=

# Dashboard
PUBLIC_DASHBOARD_URL=
